@model PagedList.IPagedList<Model.EF.baiviet>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_HomeLayout.cshtml";
}
@section css{
    <style>
        .pagination {
            margin: 2px 0;
            white-space: nowrap;
            padding-left: 0;
            border-radius: 4px;
        }

            .pagination a {
                background: #fafafa;
                color: #666;
                position: relative;
                float: left;
                padding: 6px 12px;
                margin-left: -1px;
                line-height: 1.42857143;
                text-decoration: none;
                border: 1px solid #ddd;
            }

            .pagination > .active > a,
            .pagination > .active > a:focus,
            .pagination > .active > a:hover,
            .pagination > .active > span,
            .pagination > .active > span:focus,
            .pagination > .active > span:hover {
                z-index: 3;
                color: #fff;
                cursor: default;
                background-color: #337ab7;
                border-color: #337ab7;
            }
    </style>
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Articles</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Admin/Home/Index">Home</a></li>
                        <li class="breadcrumb-item active">Articles</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h3 class="card-title mr-3">List of Articles</h3>
                            <a href="/Admin/Article/Adding"><button class="btn btn-success"><i class="fas fa-plus"></i></button></a>
                            <div class="card-tools ml-auto">
                                <div class="input-group input-group-sm" style="width: 480px;">
                                    <input type="text" name="table_search" id="search-bar" class="form-control float-right" placeholder="Search" onkeyup="SearchPosts(this.value)">
                                    @Html.AntiForgeryToken()
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="text-center">ID</th>
                                        <th class="text-center">Thumbnail</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Category</th>
                                        <th class="text-center">Views</th>
                                        <th class="text-center">Hot</th>
                                        <th class="text-center">Show</th>
                                        <th class="text-center" colspan="2">Tools</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Count > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr id="post-@item.id">
                                                <td class="text-center" style="vertical-align: middle;">@item.id</td>
                                                <td style="vertical-align: middle;" class="text-center"><img src="@item.thumbnail" alt="" style="width: 100px;height: auto;object-fit: cover;"></td>
                                                <td style="max-width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; vertical-align: middle;">@item.tieude</td>
                                                <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; vertical-align: middle;">@item.tomtat</td>
                                                <td style="vertical-align: middle;">@item.theloaitin.ten</td>
                                                <td class="text-center" style="vertical-align: middle;">@item.soluotxem</td>
                                                <td class="text-center" style="vertical-align: middle;" id="status-@item.id-0"> @*0 là nổi bật----0: False, 1: True*@
                                                    @if (item.noibat.Value)
                                                    {
                                                        <button class="btn btn-success" onclick="ChangeStatus(0, 1, @item.id)">True</button>
                                                    }
                                                    else
                                                    {
                                                        <button class="btn btn-danger" onclick="ChangeStatus(0, 0, @item.id)">False</button>
                                                    }
                                                </td>
                                                <td class="text-center" style="vertical-align: middle;" id="status-@item.id-1"> @*1 là ẩn/hiện----0: False, 1: True*@
                                                    @if (item.hide.Value)
                                                    {
                                                        <button class="btn btn-success" onclick="ChangeStatus(1, 1, @item.id)">True</button>
                                                    }
                                                    else
                                                    {
                                                        <button class="btn btn-danger" onclick="ChangeStatus(1, 0, @item.id)">False</button>
                                                    }
                                                </td>
                                                <td class="text-center text-primary" style="vertical-align: middle;"><a href="/Admin/Article/Editing/@item.id"><i class="far fa-edit"></i></a></td>
                                                <td class="text-center text-danger" onclick="Delete(@item.id)" style="cursor: pointer;vertical-align: middle;"><i class="far fa-trash-alt"></i></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-center align-item-center p-2 pagination-div">
                                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@section js{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function Delete() {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this imaginary file!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        swal("Poof! Your imaginary file has been deleted!", {
                            icon: "success",
                        });
                    } else {
                        swal("Your imaginary file is safe!");
                    }
                });
        }
    </script>
    <script src="~/Asset_Admin/js/article.js"></script>
}
