@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Client/Views/Shared/_HomeLayout.cshtml";
    var post = (Model.EF.baiviet)ViewBag.post;

    string cateName = (string)ViewBag.cateName;
    string cateSlug = (string)ViewBag.cateSlug;

    var hotNews = (List<Model.EF.baiviet>)ViewBag.hotNews;

    var relatedNews = (List<Model.EF.baiviet>)ViewBag.relatedNews;
    var comments = (List<Model.EF.binhluan>)ViewBag.comments;
}
@section css {
    <link href="~/Asset/css/PageCss/postpage.css" rel="stylesheet" />
}
<main>
    <div class="container" id="postpage">
        <div class="row">
            @if (post != null)
            {
                <div class="col-md-9">
                    <nav aria-label="breadcrumb">

                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/Client/Home/Index">NewK</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="/Client/Category/@cateSlug">@cateName</a> </li>
                        </ol>
                    </nav>
                    <h1 class="post-title">
                        @post.tieude
                    </h1>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="hot-news">
                                <p class="hot-news-title">
                                    TIN ĐÁNG ĐỌC
                                </p>
                                <div class="list-news">
                                    @if (hotNews.Count > 0)
                                    {
                                        <div class="first-news">
                                            <div class="first-news-thumb">
                                                <img src="@hotNews[0].thumbnail" alt="Alternate Text" />
                                            </div>
                                            <p class="first-news-title">
                                                <a href="/Client/Post/@hotNews[0].theloaitin.slug/@hotNews[0].slug">@hotNews[0].tieude</a>
                                            </p>
                                        </div>
                                        for (int i = 1; i < hotNews.Count; i++)//foreaach để hiện ra tên các bài viết trong danh sách tin đáng đọc
                                        {
                                            <div class="list-news-item">
                                                <i class="far fa-newspaper"></i>
                                                <a href="/Client/Post/@hotNews[i].theloaitin.slug/@hotNews[i].slug">@hotNews[i].tieude</a>
                                            </div>
                                        }
                                    }
                                </div>

                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="post-content">
                                @Html.Raw(post.noidung)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="post-comment">
                            <h3 class="post-comment-title">
                                Bình luận về bài viết
                            </h3>
                            <div class="list-post-comment">
                                @if (comments.Count > 0)
                                {
                                    foreach (var comment in comments)
                                    {
                                        <div class="post-comment-item">
                                            <div class="user-ava">
                                                <img src="/Asset/Images/default-avatar.png" alt="Alternate Text" />
                                            </div>
                                            <div class="post-comment-item-detail">
                                                <p class="user-name">
                                                    @comment.tennguoidang
                                                </p>
                                                <p class="post-comment-item-content">
                                                    @comment.noidung
                                                </p>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <h3>Bài viết chưa có bình luận !</h3>
                                }
                            </div>
                            <div class="post-comment-box">
                                @Html.AntiForgeryToken()
                                <div class="post-comment-input">
                                    <div class="user-ava">
                                        <img src="/Asset/Images/default-avatar.png" alt="Alternate Text" />
                                    </div>
                                    <div class="comment-inputs">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="comment-username" placeholder="Nhập tên của bạn (Bắt buộc)">
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" id="comment-content" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary" onclick="AddComment(@post.id)">Gửi bình luận</button>
                            </div>
                        </div>
                        <div class="related-news">
                            <h3 class="related-news-title">
                                Cùng chuyên mục
                            </h3>
                            <div class="row">
                                @if (relatedNews.Count > 0)
                                {
                                    foreach (var relatedN in relatedNews)
                                    {
                                        <div class="col-md-4">
                                            <div class="related-news-item">
                                                <div class="related-news-item-thumb">
                                                    <img src="@relatedN.thumbnail" alt="Alternate Text" />
                                                </div>
                                                <p class="related-news-item-title">
                                                    <a href="/Client/Post/@relatedN.theloaitin.slug/@relatedN.slug">
                                                        @relatedN.tieude
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-md-3">
                @{
                    Html.RenderPartial("~/Areas/Client/Views/PartialView/banner.cshtml");
                }
            </div>
        </div>
    </div>
</main>
@section js{
    <script src="~/Asset/JavaScript/Post.js"></script>
}

